.four-column-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  border-bottom: 1rem solid black;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 900;
}
